.activity {
  width: 100%;
}

.activity ul li {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  transition: background 0.45s ease-in;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.activity ul li img {
  width: 3rem;
  height: 3rem;
}

.activity ul li:hover {
  background: rgb(243, 243, 243);
}