.profile {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.profile-header img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile-header p {
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

.profile-header button {
  display: block;
  width: 75%;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  color: rgba(0, 0, 0, 0.801);
  padding: 1rem;
  border-radius: 4px;
  font-weight: 700;
}

.profile-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  margin: 1rem 0;
}

.profile-data p {
  margin: 0 auto;
}

.profile-header h4 {
  text-align: center;
  margin: 1rem auto;
}

.profile-posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-posts .card {
  position: relative;
  width: 45%;
  height: 15rem;
  margin: 0.5rem auto;
}

.profile-posts .card img {
  max-width: 100%;
  height: 15rem;
}

.profile-posts .hovered {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.534);
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.profile-posts .hovered:hover {
  opacity: 1;
}

.profile-posts .hovered div {
  width: 50%;
  margin: 0 2rem;
  font-size: 3rem;
}

.profile-posts .hovered div p {
  font-size: 1.75rem;
  margin-right: 1rem;
  text-align: center;
}

@media(min-width: 900px) {
  .profile-posts .card {
    width: 30%;
    height: 25rem;
  }

  .profile-posts .card img {
    max-width: 100%;
    height: 25rem;
  }
}