.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.home main {
  width: 100%;
  padding: 1rem 0;
  margin: 5rem 0;
}

.home footer,
.home header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.home footer {
  bottom: 0;
  border-top: 1px solid rgba(5, 5, 5, 0.05);
  padding: 0;
}

.home header {
  top: 0;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
}

.home header .logo {
  width: 60%;
}

.home footer a,
.home header a {
  color: rgb(2, 2, 2);
  width: 20%;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
}

svg {
  transition: all 0.45s ease-in;
}

.active-bar {
  position: absolute;
  height: 1.5px;
  width: 20%;
  margin: 0 auto;
  background: rgb(13, 221, 117);
  bottom: 2px;
  left: 0;
  transition: left 0.45s ease-in;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.st0 {
  display: none;
}

.st1 {
  fill: none;
  stroke: #000;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st2 {
  fill: #000;
}

.plus-st0 {
  display: none;
}

.plus-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.plus-st2 {
  fill: #303030;
}

.home-st0 {
  display: none;
}

.home-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.home-st2 {
  fill: #303030;
}

.heart-st0 {
  display: none;
}

.heart-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.heart-st2 {
  fill: #303030;
}

.camera-st0 {
  display: none;
}

.camera-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.camera-st2 {
  fill: #303030;
}

.plus-st0 {
  display: none;
}

.plus-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.plus-st2 {
  fill: #303030;
}

.profile-st0 {
  display: none;
}

.profile-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.profile-st2 {
  fill: #303030;
}

.search-st0 {
  display: none;
}

.search-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.search-st2 {
  fill: #303030;
}

.comment-st0 {
  display: none;
}

.comment-st1 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.comment-st2 {
  fill: #303030;
}

.activeStyle svg {
  transform: scale(1.15,1.15);
}

.activeStyle svg.icon g path,
.activeStyle svg.icon g line,
.activeStyle svg.icon g circle,
.activeStyle svg.icon g polygon {
  stroke-width: 2;
  transition: all 0.45s ease-in;
 }