.edit-profile-page {

}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header img {
  width: 5rem;
  height: 5rem;
  margin-left: 2rem;
}

.header p {
  font-size: 1.75rem;
  font-weight: 700;
}

form {
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  text-align: center;
}

form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem auto;
}

form div label {
  width: 25%;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

select {
  width: 80%;
  height: 4rem;
  border-radius: 4px;
  border: 1px solid rgba(7, 7, 7, 0.14);
  padding: 1rem 2.5rem;
  margin: 0.1rem auto;
  outline: none;
  transition: border-color 0.4s ease-in;
  background: #fff;
}

form input {
  width: 80%;
  height: 4rem;
  border-radius: 4px;
  border: 1px solid rgba(7, 7, 7, 0.14);
  padding: 1rem 2.5rem;
  margin: 0.1rem auto;
  outline: none;
  transition: border-color 0.4s ease-in;
}

form input:focus {
  border-color: rgb(34, 115, 168);
}

form button,
.btn-logout {
  display: block;
  margin: 1rem auto;
  border: none;
  border-radius: 4px;
  width: 50%;
  background: rgb(93, 167, 252);
  color: #fff;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn-logout {
  background: rgb(233, 56, 71);
  margin: 0 auto;
  width: 20%;
  font-size: 1.25rem;
}

@media (min-width: 660px) {
  form div label {
    width: 15%;
  }
}