.login-modal {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 13, 13, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal form {
  background: #fff;
  margin: 0 auto;
  padding: 6rem 1rem;
  width: 90%;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0.4rem 0.6rem 3rem rgba(8, 8, 8, 0.5);
}

.login-modal form input {
  width: 90%;
  height: 4rem;
  border-radius: 4px;
  border: 1px solid rgba(7, 7, 7, 0.14);
  padding: 1rem 2.5rem;
  margin: 1rem auto;
  outline: none;
  transition: border-color 0.4s ease-in;
}

.login-modal form input:focus {
  border-color: rgb(34, 115, 168);
}

.login-modal form button {
  display: block;
  margin: 1rem auto;
  border: none;
  border-radius: 4px;
  width: 50%;
  background: rgb(93, 167, 252);
  color: #fff;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.login-modal form button:disabled {
  background: rgba(93, 167, 252, 0.562);
  cursor: not-allowed
}

.error-login {
  font-size: 1.5rem;
  color: rgb(252, 81, 81);
}

@media(min-width: 660px) {
  .login-modal form {
    width: 65%;
  }
}

@media(min-width: 960px) {
  .login-modal form {
    width: 50%;
  }
}